﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="./style2kcalc.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:wght@300;400&display=swap" rel="stylesheet" />
    <title>fster's Kcalculation prototype</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <script src="https://kit.fontawesome.com/9c51c2dd56.js" crossorigin="anonymous"></script>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>
