#app {
    font-family: Avenir, Helvetica, Arial,'Comfortaa', 'Nunito', cursive sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .navbar{
    background-color:white;
  }
  
  .navbar-item{
    width: 1250px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px; 
  }
  
  .navbar-item2Logo {
    display: inline-flex;
    margin: 10px 475px 0 20px;
  }
  
  .navbar-item2Logo > h1 {
    display: flex;
    margin-top: 25px;
    font-size:24px;
    font-family: 'Comfortaa', sans-serif;
  }
  
  .logoimg{
    height:50px;
    width:50px;
    margin: 15px 15px;
  }
  
  .fas {
    font-size: 20px;
    padding: 20px;
  }
  .fab {
    font-size: 20px;
    padding: 20px; 
  }
  .fas > p{
    margin-top:10px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color:black;
  }
  
  .fab > p{
    margin-top:10px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color:black;
  }