<template>
    <!--This template renders the searchbar and calls a method on a clickevent, aswell as rendering
        the list containing the response data from the database that matched the user entered -->
    <div>
        <div class="search-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by postalcode"
                       v-model="inputPostal" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                            @click="SearchByPostal">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Store List</h4>
            <ul class="list-group">
                <li class="list-group-item"
                    :class="{ active: index == currentIndex }"
                    v-for="(store, index) in stores"
                    :key="index">
                    {{store.name}}

                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    /*Importing the service that is used for http functionality.*/
     
    import DataService from "../services/DataService";

    /*Next defining the components data variables. An array for the data objects returned from the database
     an index variable for looping, and a variable for storing user input.*/

    export default {
            name: "store-list",
            data() {
                return {
                    stores: [],
                    currentIndex: -1,
                    inputPostal: ""
                };
            },

    /*Under the components 'methods' scope we define the method called by the html templates click event.
     *In this method the code calls the dataservice and its method taking the components variable holding the user input
     *as a parameter. On completion of the promise of the dataservice method the data of the reponse 
     *gets stores in the components array and logs the data to console.
     *On rejection of the promise the error gets logged to the console aswell.*/

            methods: {
                SearchByPostal()
                {
                    DataService.findByPostal(this.inputPostal)
                        .then(response => {
                            this.stores = response.data;
                            
                            console.log(response.data);
                           
                        })
                        .catch(e => {
                            console.log(e);
                        }
                    );
                    
                },
                
            },
        
           
        
     };


</script>


<style>

    .list {
        text-align: left;
        max-width: 750px;
        margin: auto;
    }
</style>