
<template>
    <!-- Root template with hardcoded navbar and child component StoreListModel after that-->
    <div id="app">
        <nav class="navbar navbar-expand">
        <div class="navbar-nav mr-auto navbar-item">
            <div class="navbar-item2Logo">
                <img class="logoimg text-left" src="./img/symbol_blue.jpg" alt="">
                <h1 class="text-left">Kcalculation</h1>
            </div>
            <a class="fas fa-info text-center text-info" href="http://facebook.com/kcalculation">
                <p class="text-center">Support</p>
            </a>
            <a class="fas fa-sign-in-alt  text-center text-success" href="http://facebook.com/kcalculation">
                <p class="text-center">Log-ind</p>
            </a>
            <a class="fab fa-facebook-f text-center" href="http://facebook.com/kcalculation">
                <p class="text-center">Facebook</p>
            </a>
            <a class="fab fa-instagram text-center" style="color:#8134AF;" href="http://facebook.com/kcalculation">
                <p class="text-center">Instagram</p>
            </a>
        </div>
        </nav>

        <StorelistModel />

    </div>
</template>

<script>
    /*Import the components used by root component and define them in the 'components' scope*/

    import StorelistModel from './components/StorelistModel';

export default {
  name: 'App',
  components: {
    StorelistModel
  }
}
</script>

<style>
 
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
</style>
